{
  "openapi": "3.1.1",
  "info": {
    "title": "Live Commodity Prices API - Real Time Market Insights",
    "version": "2.0.0",
    "description": "Real-time prices for 245+ commodities in a single request, updated on a rolling ~1 minute cadence. Optionally convert prices into a target quote currency. Unresolved symbols degrade to a 206 partial response instead of failing the whole request.",
    "contact": {
      "name": "APIFreaks Support",
      "url": "https://apifreaks.com/contact",
      "email": "support@apifreaks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apifreaks.com/v2.0",
      "description": "Live Commodity Prices API Server"
    }
  ],
  "paths": {
    "/commodity/rates/latest": {
      "get": {
        "tags": ["Commodity APIs"],
        "summary": "Get latest commodity prices",
        "description": "Returns the current live price for the requested commodity symbols.",
        "operationId": "getLatestCommodityPrices",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Currently only `json` is supported.",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": ["json"]
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of commodity symbols (e.g., `XAU`, `WTIOIL-SPOT`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": false,
            "description": "Target currency for the exchange rate. Defaults to the market currency of each commodity.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveCommodityPricesResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true,
                      "timestamp": 1789375397,
                      "rates": {
                        "XAU": 4313.04,
                        "WTIOIL-SPOT": 100
                      },
                      "metadata": {
                        "XAU": {
                          "unit": "T.oz",
                          "quote": "USD"
                        },
                        "WTIOIL-SPOT": {
                          "unit": "Bbl",
                          "quote": "USD"
                        }
                      }
                    }
                  },
                  "withQuoteConversion": {
                    "summary": "Price converted to a target quote currency",
                    "value": {
                      "success": true,
                      "timestamp": 1789375426,
                      "rates": {
                        "XAU": 3739.023
                      },
                      "metadata": {
                        "XAU": {
                          "unit": "T.oz",
                          "quote": "EUR"
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "206": {
            "description": "Partial Content — Some requested symbols could not be resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveCommodityPricesResponse"
                },
                "examples": {
                  "partial": {
                    "summary": "One valid symbol, one unresolved symbol",
                    "value": {
                      "success": true,
                      "timestamp": 1789376193,
                      "rates": {
                        "XAU": 4311.88
                      },
                      "metadata": {
                        "XAU": {
                          "unit": "T.oz",
                          "quote": "USD"
                        }
                      },
                      "unresolved": {
                        "FAKESYM": {
                          "message": "We don't support this symbol, please visit our symbols page to see supported symbols."
                        }
                      }
                    }
                  },
                  "partialWithSuggestions": {
                    "summary": "Unresolved symbol with close-match suggestions",
                    "value": {
                      "success": true,
                      "timestamp": 1789376644,
                      "rates": {
                        "XAU": 4306.06
                      },
                      "metadata": {
                        "XAU": {
                          "unit": "T.oz",
                          "quote": "USD"
                        }
                      },
                      "unresolved": {
                        "ZW": {
                          "message": "Did you mean ZW-SPOT (Wheat Spot) or ZW-FUT (Wheat Futures)?",
                          "suggestions": ["ZW-SPOT", "ZW-FUT"]
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "400": {
            "description": "Bad Request — Missing or invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "missingSymbols": {
                    "summary": "Missing required symbols parameter",
                    "value": {
                      "error": "Invalid Param Exception",
                      "message": "please pass correct parameters",
                      "path": "/v2.0/commodity/rates/latest",
                      "status": 400,
                      "timestamp": "2026-09-14T08:43:43.964Z"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "402": {
            "description": "Payment Required — Maximum symbols per request exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityNotFoundError"
                },
                "examples": {
                  "maxSymbolsExceeded": {
                    "summary": "Too many symbols requested",
                    "value": {
                      "timestamp": "2026-09-14T08:43:44.957Z",
                      "path": "/rates/latestRates",
                      "code": 402,
                      "error": "PAYMENT_REQUIRED",
                      "message": "Maximum symbols per request exceeded"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "404": {
            "description": "Not found - Symbol or quote currency not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityNotFoundError"
                },
                "examples": {
                  "symbolNotFound": {
                    "summary": "Symbol Not Found",
                    "value": {
                      "timestamp": "2026-09-14T08:43:44.957Z",
                      "path": "/rates/latestRates",
                      "code": 404,
                      "error": "SYMBOL_NOT_FOUND",
                      "message": "The symbol is not supported, please visit the documentation for a list of supported symbols",
                      "unresolved": {
                        "FAKESYM": {
                          "message": "We don't support this symbol, please visit our symbols page to see supported symbols."
                        }
                      }
                    }
                  },
                  "symbolNotFoundWithSuggestions": {
                    "summary": "Symbol Not Found, with close-match suggestions",
                    "value": {
                      "timestamp": "2026-09-14T09:04:04.878Z",
                      "path": "/rates/latestRates",
                      "code": 404,
                      "error": "SYMBOL_NOT_FOUND",
                      "message": "The symbol is not supported, please visit the documentation for a list of supported symbols",
                      "unresolved": {
                        "ZW": {
                          "message": "Did you mean ZW-SPOT (Wheat Spot) or ZW-FUT (Wheat Futures)?",
                          "suggestions": ["ZW-SPOT", "ZW-FUT"]
                        }
                      }
                    }
                  },
                  "quoteNotFound": {
                    "summary": "Quote Currency Not Found",
                    "value": {
                      "timestamp": "2026-09-14T08:43:45.461Z",
                      "path": "/rates/latestRates",
                      "code": 404,
                      "error": "QUOTE_NOT_FOUND",
                      "message": "The quote currency is invalid, please visit the documentation for a list of valid quote currencies"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuthHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-apiKey",
        "description": "Pass your API key via the X-apiKey request header."
      },
      "ApiKeyAuthQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "Pass your API key via the apiKey query parameter."
      }
    },
    "schemas": {
      "LiveCommodityPricesResponse": {
        "type": "object",
        "required": ["success", "timestamp", "rates", "metadata"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "`true` for successful requests."
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp (seconds) indicating when the response was generated."
          },
          "rates": {
            "$ref": "#/components/schemas/CommodityRates"
          },
          "metadata": {
            "$ref": "#/components/schemas/CommodityMetadata"
          },
          "unresolved": {
            "type": "object",
            "description": "Present only on a 206 Partial Content response, when some requested symbols could not be resolved. Map of each unresolved symbol to a detail message and optional close-match suggestions.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Detail message explaining why this symbol was not resolved."
                },
                "suggestions": {
                  "type": "array",
                  "description": "Optional list of supported symbols that closely match the unresolved symbol.",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "warning": {
            "type": "string",
            "description": "Present only when currency conversion for the requested `quote` is temporarily unavailable; rates are returned in each commodity's default currency instead."
          }
        },
        "description": "Live commodity prices response containing success status, timestamp, rates, and metadata."
      },
      "CommodityRates": {
        "type": "object",
        "description": "Map of requested commodity symbols to their current live price. Each key is a commodity symbol (e.g. XAU); the value is the current price.",
        "additionalProperties": {
          "title": "CommodityPrice",
          "type": "number",
          "description": "Current live price for this commodity symbol."
        }
      },
      "CommodityMetadata": {
        "type": "object",
        "description": "Map of requested commodity symbols to their unit and quote currency metadata. Each key is a commodity symbol (e.g. XAU).",
        "additionalProperties": {
          "title": "CommodityMetadataItem",
          "type": "object",
          "description": "Unit and currency metadata for a single commodity.",
          "required": ["unit", "quote"],
          "properties": {
            "unit": {
              "type": "string",
              "description": "Unit of measurement for the commodity (e.g., Bbl, T.oz)."
            },
            "quote": {
              "type": "string",
              "description": "Quote currency used for this commodity's price."
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error envelope returned by the API on failed requests.",
        "required": ["message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Short error category or exception type."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message describing the failure."
          },
          "path": {
            "type": "string",
            "description": "API endpoint path that produced the error."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code returned with the error."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the error occurred (ISO 8601)."
          }
        }
      },
      "CommodityNotFoundError": {
        "type": "object",
        "description": "Error envelope returned by the commodity pricing service specifically for unresolvable symbol/quote errors. Uses `code` instead of `status` and an ISO 8601 `timestamp`, unlike the standard ErrorResponse.",
        "required": ["code", "error", "message"],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the error occurred (ISO 8601)."
          },
          "path": {
            "type": "string",
            "description": "Internal service path that produced the error."
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code returned with the error."
          },
          "error": {
            "type": "string",
            "description": "Specific error type (e.g., SYMBOL_NOT_FOUND, QUOTE_NOT_FOUND)."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message describing the failure."
          },
          "unresolved": {
            "type": "object",
            "description": "Present only on SYMBOL_NOT_FOUND errors. Map of each unresolved symbol to a detail message and optional close-match suggestions.",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Detail message explaining why this symbol was not resolved."
                },
                "suggestions": {
                  "type": "array",
                  "description": "Optional list of supported symbols that closely match the unresolved symbol.",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "headers": {
      "X-AF-Credits-Cost": {
        "description": "Specifies the number of credits consumed by the current request.",
        "schema": {
          "type": "integer"
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuthHeader": []
    },
    {
      "ApiKeyAuthQuery": []
    }
  ]
}
