{
  "openapi": "3.1.1",
  "info": {
    "title": "PDF Split API Reference",
    "version": "1.0.0",
    "description": "Split a PDF file into individual pages or groups of pages. Returns a task ID for tracking the split progress.",
    "contact": {
      "name": "APIFreaks Support",
      "url": "https://apifreaks.com/contact",
      "email": "support@apifreaks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apifreaks.com/v1.0",
      "description": "PDF Split API Server"
    }
  ],
  "paths": {
    "/pdf/split": {
      "post": {
        "tags": ["PDF Operations APIs"],
        "summary": "Split a PDF into smaller files",
        "description": "This API splits a PDF into multiple parts based on specified page numbers or ranges.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "description": "Specifies the desired format for the API response. Choose 'json' for a JSON object or 'xml' for an XML structure."
          },
          {
            "name": "file_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of a PDF file already uploaded to the API Freaks server. Use this as an alternative to uploading a new file directly."
          },
          {
            "name": "destroy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "If set to `true`, the input file(s) will be permanently deleted from the server immediately after the output PDF is generated."
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The desired base name for the output PDF files after splitting. If not provided, a default naming convention will be used."
          },
          {
            "name": "pages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "default": ""
              },
              "default": []
            },
            "description": "Defines the page numbers or ranges where the PDF should be split. Provide individual pages and/or ranges in any order (for example: \"1-4,9-5,16-last\"). Separate entries with commas and use hyphens for ranges.\n\nSpecial keywords (use alone):\n\n• `even` — split at every even-numbered page\n\n• `odd` — split at every odd-numbered page\n\n• `all` — split the PDF into single-page files\n\nThe keyword `last` can be used anywhere in the string, in combination with page numbers or ranges (for example: \"5-last\", \"last-2\", \"1,last,9\").\n\nExamples:\n- \"1,4-2,last\"\n- \"odd\"\n- \"all\"\n- \"last,2-5\"\n\nInvalid example: \"1,odd\" (mixing a keyword other than \"last\" with specific pages/ranges is not allowed). You can pass multiple pages entries to produce multiple output files."
          },
          {
            "name": "webhook_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The URL to which the webhook notification will be sent after the task is completed."
          },
          {
            "name": "webhook_failure_notification",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "If true, a notification will also be sent by email in case the webhook request fails all the retries.  The email notification will be sent to the requesting user or their organization’s admin if part of one."
          },
          {
            "name": "X-Webhook-Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional custom header for webhook requests. Format: `Key:Value` (e.g., `Authorization:Bearer token123`). This will be sent as an HTTP header in the webhook call."
          }
        ],
        "requestBody": {
          "description": "Multipart form-data body carrying the PDF file to split. Alternatively, reference an already-uploaded file via the file_id query parameter instead of uploading here.",
          "required": false,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PdfFileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Split task created successfully. Malformed or out-of-range page specifications are not rejected synchronously — the task is created, then fails asynchronously; poll the task status endpoint and check for status \"failed\" with an error/message pair.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PDFResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Task created",
                    "value": {
                      "taskId": "a533a95c-b3fb-49f0-abb1-bef2f3e805ef",
                      "inputIds": ["62f910b6-69ce-4cbc-8285-eee5f16467be"]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "400": {
            "description": "Bad Request — Invalid file ID",
            "content": {
              "application/json": {
                "examples": {
                  "InvalidID": {
                    "summary": "file_id is malformed or does not exist",
                    "value": {
                      "error": "Invalid File ID Provided",
                      "message": "Please provide a valid file ID",
                      "path": "/v1.0/pdf/split",
                      "status": 400,
                      "timestamp": "2026-07-27T10:54:00.793Z"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type — File type not supported",
            "content": {
              "application/json": {
                "examples": {
                  "UnsupportedFileType": {
                    "summary": "Uploaded file is not a supported type",
                    "value": {
                      "timestamp": "2026-07-27T10:54:01.347Z",
                      "path": "/v1.0/pdf/split-pdf",
                      "status": 415,
                      "error": "Unsupported File Type",
                      "message": "The provided file type is not supported. Refer to the documentation for valid file types."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          }
        },
        "operationId": "splitPdf"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuthHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-apiKey",
        "description": "Pass your API key via the X-apiKey request header."
      },
      "ApiKeyAuthQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "Pass your API key via the apiKey query parameter."
      }
    },
    "schemas": {
      "PDFResponse": {
        "type": "object",
        "description": "Response containing the task ID and input file IDs for a PDF processing task.",
        "required": ["taskId"],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Task ID of the requested task, used to check the task status."
          },
          "inputIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "File IDs for the input files provided for the task. Not returned when destroy parameter is true."
          }
        }
      },
      "PdfFileUploadRequest": {
        "type": "object",
        "description": "Multipart form-data request body containing the PDF file to process.",
        "required": [],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Raw PDF file bytes sent as a multipart/form-data field named 'file'. Omit this field entirely and pass file_id in the query string instead to use an already-uploaded file."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error envelope returned by the API on failed requests.",
        "required": ["message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Short error category or exception type."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message describing the failure."
          },
          "path": {
            "type": "string",
            "description": "API endpoint path that produced the error."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code returned with the error."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the error occurred (ISO 8601)."
          }
        }
      }
    },
    "headers": {
      "X-AF-Credits-Cost": {
        "description": "Specifies the number of credits consumed by the current request.",
        "schema": {
          "type": "integer"
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuthHeader": []
    },
    {
      "ApiKeyAuthQuery": []
    }
  ]
}
