{
  "openapi": "3.1.1",
  "info": {
    "title": "Bulk Email Validation API - Validate and Verify Emails in Bulk",
    "version": "1.0.0",
    "description": "Validate up to 10 email addresses in a single POST request. Each email is processed independently. Returns an array of validation results with deliverability assessment per email (valid/accept_all/invalid/unknown/risky/app_server_blocked), plus per-item error objects for failed validations. Maximum 10 email addresses per request.",
    "contact": {
      "name": "APIFreaks Support",
      "url": "https://apifreaks.com/contact",
      "email": "support@apifreaks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apifreaks.com/v1.0",
      "description": "Bulk Email Validation API Server"
    }
  ],
  "paths": {
    "/email-validation/bulk": {
      "post": {
        "tags": ["Email Validation APIs"],
        "summary": "Validate multiple email addresses",
        "description": "Validates a bulk of email addresses and returns result for each. Maximum `10` email addresses per request.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            },
            "description": "Format of the response"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Each item corresponds to one requested email, in the same order as the request; invalid emails are reflected via validEmail/validSyntax on that item, not as a separate error object — every item has success=true regardless of validation outcome.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkEmailValidationResponse"
                },
                "examples": {
                  "bulkEmailsValidated": {
                    "summary": "Mix of valid, syntactically invalid, accept_all, null-MX invalid, and unknown (no-MX probe) results",
                    "value": {
                      "emailResponse": [
                        {
                          "success": true,
                          "email": "abc.def@gmail.com",
                          "validEmail": "valid",
                          "validSyntax": true,
                          "domain": {
                            "name": "gmail.com",
                            "disposable": false,
                            "spam": false,
                            "free": true,
                            "validDomain": true,
                            "catchAll": false
                          },
                          "account": {
                            "role": false,
                            "fullMailBox": false
                          },
                          "dns": {
                            "mxRecord": [
                              "gmail-smtp-in.l.google.com.",
                              "alt1.gmail-smtp-in.l.google.com.",
                              "alt2.gmail-smtp-in.l.google.com.",
                              "alt3.gmail-smtp-in.l.google.com.",
                              "alt4.gmail-smtp-in.l.google.com."
                            ]
                          }
                        },
                        {
                          "success": true,
                          "email": "not-an-email",
                          "validEmail": "INVALID_EMAIL",
                          "validSyntax": false,
                          "domain": {
                            "name": "not-an-email",
                            "validDomain": false
                          }
                        },
                        {
                          "success": true,
                          "email": "random12345@yahoo.com",
                          "validEmail": "accept_all",
                          "validSyntax": true,
                          "reason": "domain accepts all addresses.",
                          "domain": {
                            "name": "yahoo.com",
                            "disposable": false,
                            "spam": false,
                            "free": true,
                            "validDomain": true,
                            "catchAll": true
                          },
                          "account": {
                            "role": false,
                            "fullMailBox": false
                          },
                          "dns": {
                            "mxRecord": [
                              "mta5.am0.yahoodns.net.",
                              "mta6.am0.yahoodns.net.",
                              "mta7.am0.yahoodns.net."
                            ]
                          }
                        },
                        {
                          "success": true,
                          "email": "test@example.com",
                          "validEmail": "invalid",
                          "validSyntax": true,
                          "reason": "domain does not accept mail.",
                          "domain": {
                            "name": "example.com",
                            "disposable": true,
                            "spam": false,
                            "free": false,
                            "validDomain": true,
                            "catchAll": false
                          },
                          "account": {
                            "role": false
                          },
                          "dns": {
                            "mxRecord": ["."]
                          }
                        },
                        {
                          "success": true,
                          "email": "test@neverssl.com",
                          "validEmail": "unknown",
                          "validSyntax": true,
                          "reason": "We are unable to determine if email is valid or invalid.",
                          "domain": {
                            "name": "neverssl.com",
                            "disposable": false,
                            "spam": false,
                            "free": false,
                            "validDomain": true,
                            "catchAll": false
                          },
                          "account": {
                            "role": false
                          },
                          "dns": {
                            "aRecord": ["34.223.124.45"]
                          }
                        }
                      ]
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              },
              "X-Concurrent-Threads": {
                "$ref": "#/components/headers/X-Concurrent-Threads"
              },
              "X-Concurrent-Threads-Active": {
                "$ref": "#/components/headers/X-Concurrent-Threads-Active"
              }
            }
          },
          "400": {
            "description": "Bad Request – Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidBody": {
                    "summary": "emailData field missing or malformed",
                    "value": {
                      "timestamp": "2026-07-27T12:53:14.628Z",
                      "path": "/v1.0/email-validation/bulk",
                      "status": 400,
                      "error": "Invalid request body Exception",
                      "message": "Please provide data in required format in request body"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "404": {
            "description": "Not Found – The requested resource could not be found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Resource Not Found": {
                    "value": {
                      "timestamp": "2026-09-02T11:57:55.592Z",
                      "path": "/v1.0/email-validation/bulkx",
                      "status": 404,
                      "error": "Resource Not Found",
                      "message": "The requested resource could not be found. Please verify the URL and try again."
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "413": {
            "description": "Payload Too Large – emailData exceeds the maximum of 10 entries per request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Payload Too Large": {
                    "value": {
                      "timestamp": "2026-09-02T11:57:34.223Z",
                      "path": "/v2/email-validation/bulk",
                      "status": 413,
                      "error": "Payload too large Exception",
                      "message": "Maximum request body size limit exceeded"
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "408": {
            "description": "Request Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Request Timeout": {
                    "value": {
                      "timestamp": "2026-06-06T13:00:00.000Z",
                      "path": "/v1.0/email-validation/bulk",
                      "status": 408,
                      "error": "Request Timeout",
                      "message": "Timed out while connecting to the remote URL."
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Rate Limit Exceeded": {
                    "value": {
                      "timestamp": "2026-06-06T13:00:00.000Z",
                      "path": "/v1.0/email-validation/bulk",
                      "status": 429,
                      "error": "Too Many Requests",
                      "message": "API rate limit exceeded."
                    }
                  }
                }
              }
            },
            "headers": {
              "X-AF-Credits-Cost": {
                "$ref": "#/components/headers/X-AF-Credits-Cost"
              }
            }
          }
        },
        "operationId": "bulkCheckEmail"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuthHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-apiKey",
        "description": "Pass your API key via the X-apiKey request header."
      },
      "ApiKeyAuthQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "Pass your API key via the apiKey query parameter."
      }
    },
    "schemas": {
      "BulkEmailValidationResponse": {
        "type": "object",
        "description": "Wrapper containing the per-email results array.",
        "required": ["emailResponse"],
        "properties": {
          "emailResponse": {
            "type": "array",
            "description": "Array of per-email results, one entry per requested email, in the same order as the request. Invalid emails are reflected via validEmail/validSyntax, not a separate error shape.",
            "items": {
              "$ref": "#/components/schemas/SingleEmailValidationResponse"
            }
          }
        }
      },
      "SingleEmailValidationResponse": {
        "type": "object",
        "required": ["success", "email", "validEmail", "validSyntax", "domain"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indicates the processing status of the validation request. true: completed successfully."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address submitted for validation."
          },
          "name": {
            "type": "string",
            "description": "Optional identifier or label provided in the request for record tracking."
          },
          "reason": {
            "type": "string",
            "description": "Detailed explanation returned when validEmail is not valid. Omitted entirely when validEmail is valid."
          },
          "validEmail": {
            "type": "string",
            "enum": [
              "valid",
              "accept_all",
              "invalid",
              "INVALID_EMAIL",
              "unknown",
              "risky",
              "app_server_blocked"
            ],
            "description": "Comprehensive deliverability assessment. valid: recipient confirmed deliverable, reason omitted. accept_all: the domain is catch-all and accepted the recipient, so this specific mailbox is unconfirmed — see domain.catchAll, reason 'domain accepts all addresses.'. invalid: rejected mailbox, syntax failure, or the domain accepts no mail at all (a null MX). unknown: no conclusive answer, most common for domains with no MX record that only get a probe against their address record. risky: mailbox exists but over quota, or the server deferred with a greylist response. app_server_blocked: our verifier IP was blocked by the receiving server. Casing is inconsistent in the live API: syntactically invalid addresses can return the raw enum name INVALID_EMAIL instead of lowercase invalid — this is a known API bug, handle it defensively as equivalent to invalid."
          },
          "validSyntax": {
            "type": "boolean",
            "description": "Validates email address format compliance with RFC 5322 standards."
          },
          "domain": {
            "$ref": "#/components/schemas/DomainObject"
          },
          "account": {
            "$ref": "#/components/schemas/AccountObject"
          },
          "dns": {
            "$ref": "#/components/schemas/DnsObject"
          },
          "address": {
            "$ref": "#/components/schemas/AddressObject"
          },
          "ip": {
            "type": "string",
            "format": "ip",
            "description": "IP address provided for geolocation and security enrichment."
          }
        },
        "description": "Email validation response containing deliverability assessment and metadata."
      },
      "DomainObject": {
        "type": "object",
        "required": ["name", "validDomain"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Extracted domain component from the email address."
          },
          "validDomain": {
            "type": "boolean",
            "description": "Domain validation status confirming DNS resolution capability."
          },
          "disposable": {
            "type": "boolean",
            "description": "Classification flag identifying domains from temporary email service providers."
          },
          "spam": {
            "type": "boolean",
            "description": "Reputation indicator flagging domains on spam databases."
          },
          "free": {
            "type": "boolean",
            "description": "Classification indicating free or consumer-grade email service providers."
          },
          "catchAll": {
            "type": "boolean",
            "description": "Detection flag for domains configured to accept mail for any recipient address. true always corresponds to a top-level validEmail of accept_all."
          }
        },
        "description": "Domain validation details for the email address."
      },
      "AccountObject": {
        "type": "object",
        "required": ["role"],
        "properties": {
          "role": {
            "type": "boolean",
            "description": "Detection flag identifying role-based email addresses (e.g., admin@, support@)."
          },
          "fullMailBox": {
            "type": "boolean",
            "description": "Storage capacity status indicator for the recipient mailbox."
          }
        },
        "description": "Account-level validation details."
      },
      "DnsObject": {
        "type": "object",
        "required": [],
        "properties": {
          "mxRecord": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Every MX hostname at the domain's lowest preference (not just one). [\".\"]  means the domain publishes a null MX and accepts no mail at all. Absent entirely when the domain has no MX record of any kind — check aRecord in that case."
          },
          "aRecord": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Collection of A (Address) records for the domain. Present when the domain has no MX record but does resolve to a web server or other host."
          }
        },
        "description": "DNS records for the email domain. Absent entirely when the domain publishes neither an MX nor an A record."
      },
      "AddressObject": {
        "type": "object",
        "properties": {
          "validIpAddress": {
            "type": "boolean",
            "description": "IP recognized/reachable by the geolocation provider."
          },
          "location": {
            "$ref": "#/components/schemas/EmailLocation"
          },
          "security": {
            "$ref": "#/components/schemas/EmailSecurity"
          }
        },
        "description": "Geolocation and security enrichment data for the IP address.",
        "required": []
      },
      "EmailLocation": {
        "type": "object",
        "description": "Geolocation data derived from the IP address.",
        "properties": {
          "city": {
            "type": "string",
            "description": "Municipal or city name."
          },
          "district": {
            "type": "string",
            "description": "District or neighborhood."
          },
          "zipcode": {
            "type": "string",
            "description": "Postal or ZIP code."
          },
          "state_prov": {
            "type": "string",
            "description": "State or province."
          },
          "country_name": {
            "type": "string",
            "description": "Common country name."
          },
          "country_name_official": {
            "type": "string",
            "description": "Official country name."
          },
          "country_code2": {
            "type": "string",
            "description": "Two-character ISO country code."
          },
          "country_code3": {
            "type": "string",
            "description": "Three-character ISO country code."
          },
          "continent_name": {
            "type": "string",
            "description": "Continental region name."
          },
          "continent_code": {
            "type": "string",
            "description": "Continental region identifier."
          },
          "accuracy_radius": {
            "type": "string",
            "description": "Geolocation precision radius."
          },
          "confidence": {
            "type": "string",
            "description": "Confidence score for geolocation accuracy."
          },
          "is_eu": {
            "type": "boolean",
            "description": "European Union membership status."
          }
        },
        "required": []
      },
      "EmailSecurity": {
        "type": "object",
        "description": "Threat and anonymity profile for the IP address.",
        "required": [
          "threat_score",
          "is_tor",
          "is_proxy",
          "proxy_type",
          "proxy_provider",
          "is_anonymous",
          "is_known_attacker",
          "is_spam",
          "is_bot",
          "is_cloud_provider",
          "cloud_provider"
        ],
        "properties": {
          "threat_score": {
            "type": "integer",
            "description": "Quantitative risk assessment score. Higher values indicate elevated security risk."
          },
          "is_tor": {
            "type": "boolean",
            "description": "Detection flag for IP addresses routed through the Tor anonymity network."
          },
          "is_proxy": {
            "type": "boolean",
            "description": "Detection flag identifying IP addresses operating as proxy servers."
          },
          "proxy_type": {
            "type": "string",
            "description": "Classification of detected proxy infrastructure type (e.g. VPN, HTTP, SOCKS)."
          },
          "proxy_provider": {
            "type": "string",
            "description": "Identified service provider operating the proxy infrastructure."
          },
          "is_anonymous": {
            "type": "boolean",
            "description": "Anonymization detection flag for IP addresses using identity obfuscation techniques."
          },
          "is_known_attacker": {
            "type": "boolean",
            "description": "Threat intelligence flag for IP addresses documented as confirmed malicious sources."
          },
          "is_spam": {
            "type": "boolean",
            "description": "Reputation flag for IP addresses associated with spam transmission."
          },
          "is_bot": {
            "type": "boolean",
            "description": "Automated traffic detection flag for IP addresses from bot networks."
          },
          "is_cloud_provider": {
            "type": "boolean",
            "description": "Infrastructure classification flag for IP addresses from cloud computing providers."
          },
          "cloud_provider": {
            "type": "string",
            "description": "Identified cloud infrastructure or hosting service provider name."
          }
        }
      },
      "BulkEmailRequest": {
        "type": "object",
        "description": "Request body for bulk email validation.",
        "required": ["emailData"],
        "properties": {
          "emailData": {
            "type": "array",
            "description": "Array of email objects to validate. Maximum 10 per request.",
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/BulkEmailRequestItem"
            }
          }
        }
      },
      "BulkEmailRequestItem": {
        "type": "object",
        "description": "A single email entry in a bulk validation request.",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address to validate."
          },
          "name": {
            "type": "string",
            "description": "Optional name or label."
          },
          "ip": {
            "type": "string",
            "format": "ip",
            "description": "Optional IP address for enrichment."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error envelope returned by the API on failed requests.",
        "required": ["message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Short error category or exception type."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message describing the failure."
          },
          "path": {
            "type": "string",
            "description": "API endpoint path that produced the error."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code returned with the error."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the error occurred (ISO 8601)."
          }
        }
      }
    },
    "headers": {
      "X-AF-Credits-Cost": {
        "description": "Specifies the number of credits consumed by the current request.",
        "schema": {
          "type": "integer"
        }
      },
      "X-Concurrent-Threads": {
        "description": "Specifies the maximum number of concurrent requests allowed.",
        "schema": {
          "type": "integer"
        }
      },
      "X-Concurrent-Threads-Active": {
        "description": "Indicates the number of active concurrent requests being processed.",
        "schema": {
          "type": "integer"
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuthHeader": []
    },
    {
      "ApiKeyAuthQuery": []
    }
  ]
}
